<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网文推荐</title>
</head>

<style type="text/css">
    .search-bar {
        margin-top: 20%;
    }

    .book-recommend {
        margin-top: 2.5%;
    }
</style>
<body>

<div class="container" id="app">
    <div class="row search-bar">
        <div class="col-md-8 search-input col-md-offset-2 col-sm-12">
            <div class="form-group">
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           v-model="key"
                           placeholder="请输入书籍名， 例如 美女赢家"
                           @keypress="enterSearch"
                    >
                    <span class="input-group-btn">
                        <button
                                type="button"
                                class="btn btn-primary"
                                @click="searchBooks">
                            推荐类似书籍
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12 book-recommend">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td>书名</td>
                    <td>作者</td>
                    <td>字数</td>
                    <td>相似度</td>
                </tr>
                </thead>
                <tr is='book-row' v-for="book in books" :book="book">
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<!--<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>-->
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/vue/1.0.26/vue.min.js"></script>
</body>
<script type="text/javascript">
    var v = new Vue({
        el: '#app',
        data: {
            books: [],
            key: ""
        },
        methods: {
            enterSearch: function (e) {
                if (!this.isKeyValid()) {
                    return
                }
                if (e.keyCode === 13) {
                    this.searchBooks()
                }
            },
            isKeyValid: function () {
               return !(this.key === "" || this.key === localStorage.key);

            },
            searchBooks: function () {
                if (!this.isKeyValid()) {
                    return
                }
                $.getJSON('/api/search?key=' + v.$data.key, function (data) {
                    v.$data.books = JSON.parse(data.similarity_books)
                    v.$data.books.shift()
                    localStorage.key = v.$data.key
                }).fail(function () {
                    alert(v.$data.key + " 未找到相应书籍，请尝试其他书籍")
                })
            }
        },
        components: {
            'book-row': {
                template: '<tr>' +
                '<td>{{book.book_name}}</td>' +
                '<td>{{book.book_author}}</td>' +
                '<td>{{book.book_words}}</td>' +
                '<td>{{ toPercent(book.rate) }}</td>' +
                '</tr>',
                props: ['book'],
                methods: {
                    toPercent: function (rate) {
                        return Math.round((1 - rate) * 100) + '%'
                    }
                }
            }
        }
    })
</script>
</html>